.navbar{
    background-color: #1ebea5;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 25px;
    padding-left: 20px;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.02em;

}

.navbar-light .navbar-nav .nav-link.active, .navbar-light{
    /* for home */
    color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 25px;
    padding-left: 20px;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.02em;

}

.header{
    padding: 150px 0 150px 160px;

}

.header p{
   font-size: 33px;
    font-weight: 300;
    line-height: 35px;
    margin-bottom: 24px;
}

.header-content p{
    font-size: 16px;
    line-height: 26px;
    color: #282828;
    padding-bottom: 12px;
}

.header-content-small{
    padding-bottom: 24px;
    font-size: 12px;
    line-height: 18px;
    opacity: 0.4;
}

.avilable-platforms ul{
    list-style: none;
    padding-left: 0px;
}

.avilable-platforms ul li a span{
    text-decoration: none;
    line-height: 44px;
    color: #1cb39b;
    padding-left:10px;
    font-size: 16px;
    
}

.avilable-platforms ul li a{
    text-decoration: none;
}

.avilable-platforms ul li a i{
    color: #1cb39b;
}

.content{
    padding: 58px 74.37px 0 74.37px;
    background-color: #d0e9ea;
}


.content h1{
    padding-bottom: 25px;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: .05em;
    line-height: 29px;
    margin-bottom: 25px;
}

.content-link{
    margin-bottom: 50px;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 50px;
}

.content-link a{
    text-decoration: none;
    color: #39b3ed;
}

.content-2{
    padding: 58px 74.37px 0 74.37px;
    background-color: #EDF8F5;
}

.content-2 h3{
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 0.15em;
    line-height: 16px;
    margin-bottom: 7px;
    margin-top: 15px;
    color: rgba(0, 0, 0, .5);
}

.content-2 h1{
    font-size: 24px;
    font-weight: 300;
    letter-spacing: .05em;
    line-height: 29px;
    margin-bottom: 25px;
}

.content-2 p{
    margin-bottom: 0;
    font-size: 14px;
    line-height: 21px;
}

.explore-btn{
    padding: 84px 0;
}

.explore-btn a{
    text-decoration: none;
    border: 2px solid #77d7c8;
    color: #1cb39b;
    border-radius: 40px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.071em;
    line-height: 19px;
    padding: 18px 32px;
    transition: 0.4s;
}

.explore-btn a:hover{
    color: #fff;
    background-color: #1cb39b;
}

.list-1 h4{
    color: rgba(255, 255, 255, .6);
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .08em;
    line-height: 14px;
    margin-bottom: 22px;
}

.list-1 ul{
    list-style: none;
    padding-left: 0px;
}

.list-1 ul li{
    padding-bottom: 6px;
}

.list-1 ul li a{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.list-1 ul li a:hover{
    border-bottom: 1.5px solid #fff;
}
